// Project base configuration.

BASE_BUILD_FOLDER = $(SRCROOT)

SYMROOT = $(BASE_BUILD_FOLDER)/Build
OBJROOT = $(BASE_BUILD_FOLDER)/TemporaryItems

MUIKIT_IPHONE_SDKROOT = iphoneos3.0
MUIKIT_IPHONEOS_DEPLOYMENT_TARGET = 2.2

MUIKIT_IPHONE_ARCHS = $(ARCHS_UNIVERSAL_IPHONE_OS)

MUIKIT_MACOSX_SDKROOT = macosx10.5
MUIKIT_MACOSX_ARCHS = $(ARCHS_STANDARD_32_64_BIT)

#include "Local.xcconfig"
